body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header{
text-align: center;
}

nav a{
  background-color: #7fb2c6;
  margin: auto;
  padding: 0 10px;
}

img {
  display: block;
  margin: auto;
}
figcaption{
  text-align: center;
  font: 0.9em sans-serif;
}

#featured-property p{
  max-width: 800px;
  text-align: center;
  margin: auto;
}

#details div{
  float: left;
  background-color: antiquewhite;
  width: 25%;
  text-align: center;
}
